torch
torchvision
timm
numpy
pandas
Pillow
scikit-learn
scipy
tqdm
opencv-python
scikit-image
pyarrow
fastparquet
wandb
tensorboard
pyyaml
requests
matplotlib
seaborn
thop
fvcore
umap-learn>=0.5.0
ptflops
